*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    min-height: 400px;
    background-repeat:no-repeat ;
    background-image: url(Black\ and\ White\ Leaf\ Photography\ Print.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgb(43, 7, 7);
    background-blend-mode:darken ;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.tabs{
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
}
.tabs li{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    width: 100px;
    height: 50px;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 32px;
    color: white;
}
.intro h3{
    color: antiquewhite;
    font-size: 24px;
    font-weight: 800;
}
.intro p{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro button{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    border: none;
    background: blue;
    color: white;

}

.intro button:hover{
    background: blue;
    color: white;
}