body{
    background-image: url(aaaaaa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:fit-content;
}
.aaa{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding-left: 30rem;
    box-shadow: 20px;
    list-style: none;
    text-decoration: none;
}
.bbb{
    display: flex;
    justify-content:space-between ;
}
.button{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 6px;


}
a{
    text-decoration: none;
    color: black;
}
.zzz
